@font-face {
  font-family: "RobotoMono";
  src: url("./public/fonts/RobotoMono-Bold.ttf");
  src: url("./public/fonts/RobotoMono-Light.ttf");
  src: url("./public/fonts/RobotoMono-Medium.ttf");
  src: url("./public/fonts/RobotoMono-Regular.ttf");
}

* {
  font-family: "Roboto Mono", sans-serif;
  box-sizing: border-box;
}

body {
  background: #c9ffbf; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffafbd,
    #c9ffbf
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffafbd,
    #c9ffbf
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
