.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.article {
  background-color: #c3f4e7;
  text-align: center;
  padding: 20px 20px;
  margin: 10px;
  width: 200px;
  height: 120px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 700px) {
  .article {
    height: 60px;
    padding: 0;
    margin: 5px;
    width: 250px;
  }
  p {
    margin: 5px;
  }
}

.center-block {
  text-align-last: center;
}
